body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: Sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.column_names {
    background-color: rgba(58, 148, 207, 0.781);
    text-align-last: center;
    color: white;
    font-size: large;
    font-weight: bold;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.form {
    text-align: center;
    padding: 8px 15px;
    margin: 10px 70px 10px 70px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logout {
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.back_button {
    padding: 5px 30px;
    cursor: pointer;
}